*{
	margin: 0;
	padding: 0;
}

.b{
	position: absolute;
	left: 0px;
	top: 0px;
	background: url(back.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.menu{
	float: right;
}

#menu li{
	padding-left: 63px;
	padding-right: 63px;
}

#menu li a {
	color: white;
}

#menu li a:hover{
	color: rebeccapurple;
	text-decoration: underline;
}

.regbtn{
	border-radius: 25px;
	padding: 5px 10px 5px 10px;
	border-color: rebeccapurple;
	background-color: transparent;
}

.regbtn:hover{
	background: rgb(9,244,249);
	background: linear-gradient(90deg, rgba(9,244,249,1) 35%, rgba(255,0,224,1) 100%);
}


.regbtn a{
	color: white;
	padding-left: 2px;
	padding-right: 2px;
}

.text{
	background-color: transparent;
	text-align: center;
}

.hh{
	position: static;
	height: 63px;
	left: 0px;
	top: 0px;
	font-family: Play;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 87.7%;
	text-align: center;
	text-transform: uppercase;
	color: #AEAECC;
}

.agent{
	margin-left: 130px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 241px;
	height: 503px;
	left: 0px;
	background: linear-gradient(217.87deg, rgba(23, 20, 38, 0.15) 9.93%, rgba(23, 20, 38, 0) 76.79%);
	border-radius: 24px;
	background-image: url(agent.png);
	background-size: cover;
}

.fields{
	height: 503px;
	width: 500px;
}

.field{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 220px;
	height: 220px;
	background: rgba(23, 20, 38, 0.15);
	border-radius: 24px;
	color: white;
}

.changer{
	padding: 30px;
	border-radius: 50%;
	width: 36.49px;
	height: 37px;
	border: solid 1px;
	border-color: grey;
	margin: 0 auto;
	margin-left: 210px;
	background: rgb(9,244,249);
	background: linear-gradient(183deg, rgba(9,244,249,1) 35%, rgba(255,0,224,1) 100%);
}

.icon{
	margin: -37px auto;
	margin-left: -19px;
	margin-bottom: -9px;
}

.pistols{
	height: 150px;
	width: 150px;
}

.achivments{
	position: static;
	width: 241px;
	height: 100px;
	background: linear-gradient(111.02deg, rgba(23, 20, 38, 0.15) 34.5%, rgba(23, 20, 38, 0) 63.88%);
	border-radius: 24px;
	display: flex;
}

.achivments span{
	text-decoration: none;
	list-style-type: none;
	color: white;
	margin-top: 40px;
	margin-left: 20px;
}

.knifes{
	height: 70px;
	width: 70px;
	margin-top: 20px;
	margin-left: 20px;
}

.oo{
	display: flex;
}

.over{
	margin-left: 40px;
	position: static;
	width: 112px;
	height: 18px;
	left: calc(50% - 112px/2 - 47px);
	top: calc(50% - 18px/2);
	font-family: Ruda;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	color: white;
	text-decoration: none;
}

.contact{
	position: static;
	width: 112px;
	height: 18px;
	left: calc(50% - 112px/2 - 47px);
	top: calc(50% - 18px/2);
	font-family: Ruda;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	color: white;
	text-decoration: none;
}

.hrefs{
	float: right;
	margin-right: 40px;
	margin-top: -28px;
}

.hrefs li {
	list-style-type: none;
}

.hrefs li a {
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	color: #6F6599;
	font-size: 30px;
}

.hrefs li a:hover{
	background-color: transparent;
}

.terorist{
	margin-left: 130px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 241px;
	height: 503px;
	left: 0px;
	background: linear-gradient(217.87deg, rgba(23, 20, 38, 0.15) 9.93%, rgba(23, 20, 38, 0) 76.79%);
	border-radius: 24px;
	background-image: url(terorist.png);
	background-size: cover;
}

.teror{
	padding: 30px;
	border-radius: 50%;
	width: 36.49px;
	height: 37px;
	border: solid 1px;
	border-color: grey;
	margin: 0 auto;
	margin-left: 210px;
	background: rgb(9,244,249);
	background: linear-gradient(183deg, rgba(9,244,249,1) 35%, rgba(255,0,224,1) 100%);
	display: none;
}

.icon2{
	margin: -40px auto;
	margin-left: -22px;
	margin-bottom: -9px;
}

